@mixin defaultLayoutHorizontal() {
  @include until($tablet) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  @include from($tablet) {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  @include from($desktop) {
    @include maxWidth;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }
}

@mixin defaultLayoutVetical() {
  @include until($tablet) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @include from($tablet) {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  @include from($desktop) {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
}

@mixin defaultLayout() {
  @include defaultLayoutVetical;
  @include defaultLayoutHorizontal;
}

@mixin maxWidth() {
  max-width: calc(960px - (2 * #{$gap}));
}
